<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password | Prilist</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="forgot-password.component.css">
    <style>@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');</style>
</head>

<body>
    <div class="container">
        <div class="design">
            <div class="pill-1 rotate-45"></div>
            <div class="pill-2 rotate-45"></div>
            <div class="pill-3 rotate-45"></div>
            <div class="pill-4 rotate-45"></div>
        </div>
        <div class="login">
            <h3 class="title">Forgot your password?</h3>
            <form id="forgotPasswordForm" onsubmit="handleSubmit(event)">
                <div class="text-input">
                    <i class="ri-mail-fill"></i>
                    <input type="email" id="email" placeholder="Email Address" required>
                </div>
                <button type="submit" class="login-btn">RESET</button>
            </form>
            <a href="/security/user-identification" class="forgot">Back to Login</a>
            <div class="create">
                <a href="#">Create Your Account</a>
                <i class="ri-arrow-right-fill"></i>
            </div>
        </div>
    </div>
