/* src/app/home/home.component.css */
.home-container {
  padding: 20px;
  background: rgba(17, 67, 88 , 0.9);
}

.banner {
  text-align: center;
}

.banner h1 {
  font-size: 2.5em;
  font-weight: bold;
}

.banner h2 {
  font-size: 1.5em;
  margin-top: 10px;
}

.rounded-image-container {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  width: 100%;
}

.rounded-image {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
  height: auto;
  object-fit: cover;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.recent-events {
  margin-top: 20px;
  color: white;
}

.recent-events h3 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 10px;
}

.upcoming-events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.video-container {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

.video-container video {
  width: 100%;
  height: auto;
}


.upcoming-events {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upcoming-events-title {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.event {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.event-date-container {
  background-color: #f5f5f5;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.event-date {
  font-size: 1.2em;
  font-weight: bold;
}
.event-description {
  color: white;
}



@media (max-width: 767px) {
  .upcoming-events-container {
    flex-direction: column;
  }

  .video-container,
  .upcoming-events {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .upcoming-events-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .video-container,
  .upcoming-events {
    width: 48%;
  }
}
