<ul class="sidenav" id="mobile-demo">
  <li class="close-menu">
    <a href="javascript:void(0);" onclick="closeNav()">
      <i class="material-icons">arrow_forward</i>
    </a>
  </li>
  <li>
    <div class="user-view">
      <div class="background">

      </div>
      <a href="#user"><img class="circle" src="https://i.pinimg.com/564x/ce/4f/3e/ce4f3e2e41e7bf8715400de9b34a5b61.jpg"></a>
      <a href="#name"><span class="black-text name">Jhonier</span></a>

    </div>
  </li>
  <div class="menu-items">
    <li><a href="#"><i class="material-icons">home</i>Menu</a></li>
    <li><a href="#"><i class="material-icons">visibility</i>Ver Eventos</a></li>
    <li><a href="#"><i class="material-icons">event</i>Mis Eventos</a></li>
    <li><a href="#"><i class="material-icons">notifications</i>Notificaciones</a></li>
  </div>
  <li class="logout"><a href="#"><i class="material-icons">exit_to_app</i>Cerrar Sesión</a></li>
</ul>
