<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registro | Prilist</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="register.component.css" />
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
  </style>
</head>

<body>
  <div class="container">
    <div class="design">
      <div class="pill-1 rotate-45"></div>
      <div class="pill-2 rotate-45"></div>
      <div class="pill-3 rotate-45"></div>
      <div class="pill-4 rotate-45"></div>
    </div>
    <div class="register">
      <h3 class="title">Registro</h3>
      <form id="registerForm" [formGroup]="fGroup" (ngSubmit)="saveEvent()">
        <div class="text-input">
          <i class="ri-user-fill"></i>
          <input type="text" id="name" placeholder="Nombre" formControlName="name" required />
        </div>
        <div class="text-input">
          <i class="ri-user-fill"></i>
          <input type="text" id="lastName" placeholder="Apellido" formControlName="surName" required />
        </div>
        <div class="text-input">
          <i class="ri-mail-fill"></i>
          <input type="email" id="email" placeholder="Correo Electrónico" formControlName="email" required />
        </div>
        <div class="text-input">
          <i class="ri-phone-fill"></i>
          <input type="tel" id="phone" placeholder="Teléfono" formControlName="phone" required />
        </div>
        <div class="text-input">
          <i class="ri-lock-fill"></i>
          <input type="password" id="password" placeholder="Contraseña" formControlName="password" required />
        </div>
        <div class="file-input">
          <input type="file" id="imageUpload" (change)="onFileSelected($event)" accept="image/*" required />
        </div>
        <div *ngIf="selectedFile" class="preview">
          <button type="button" (click)="deleteFile()" class="remove-btn">
            X
          </button>
          <img [src]="selectedFile.preview" alt="Image Preview" class="w-20 h-20 object-cover" />
        </div>
        <button type="submit" class="register-btn">REGISTRAR</button>
        <button type="button" class="cancel-btn" (click)="navigateToLogin()">
          CANCELAR
        </button>
      </form>
    </div>
  </div>
</body>

</html>
