<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruta No Encontrada</title>
    <link rel="stylesheet" href="route-not-found.component.css">
</head>
<body>
    <div class="container">
        <div class="error">
            <img src="https://media.tenor.com/XG8WXd4R7RYAAAAi/pato-caminando.gif" alt="Imagen de error" class="error-image">
            <h1>404</h1>
            <p>Ruta No Encontrada</p>
            <a href="/">Volver a la página principal</a>
        </div>
    </div>
</body>
</html>
